# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# QtCreator files
*.creator*
*.files
*.includes
*.config

# Eclipse...
/.project

g4
Makefile
install_manifest.txt
/testRun
